/* Submissions */

/* We hide all of the main content until they've logged in */
#maincontent {
    display: none;
}

/* We hide submission details by default */
.submissiondetails {
    display: none;
}

/* We hide biosamples by default */
.biosamples {
    display: none;
}




/* Login */
.error_message {
    background: darkred;
    color: white;
    padding: 0.2em;
    margin-top: 0.2em;
    display: none;
}



/* Filters */
.form-control {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.filter-options {
    max-width: 600px;
}
