/* Submissions */

/* We hide all of the main content until they've logged in */
#maincontent {
    display: none;
}


/* We hide submission details by default */
.submissiondetails {
    display: none;
}

/* We hide biosamples by default */
.biosamples {
    display: none;
}

